
.content{
    display: flex;
    flex-direction: column;
    width:100%;
    height:80vh;

    /* position:absolute;
    transform: translate(-50%, -50%); */
    padding-top: 20vh;
    
    text-align: center;
    
    color: whitesmoke;
}
.timer{
   
     
    margin: auto;
    background-color: transparent;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   
    
}
.timer div:first-child{
    text-align: center;
}
h2{
    font-weight:600 ;
    margin-bottom:0.5em ;
}
.timer div:last-child{
    width:40vw;
    border: 0.5vh solid  #5D3FD3;
    border-radius: 3px;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    margin-top: 3em;
    padding: 3em;
    text-align: center;

}
.imagess{
    width:50%;
    height:90vh;
}
.textss{
    width:50%;
    height:90vh;
    background-color:#282929 ;
}
.ted{
    display: flex;
    flex-direction: row;
}
.content2{
    display: flex;
    flex-direction: column;
    width:100%;

    /* position:absolute;
    transform: translate(-50%, -50%); */
    padding-top: 10vh;
    left:50%;
    text-align: center;
    
    color: #fff;
}


@media (max-width: 920px) {
    
    .ted{
        display: flex;
        flex-direction: column;
    }
    .imagess{
        width:100%;
        height:50vh;
    }
    .textss{
        width:100%;
        height:80vh;
        background-color:#282929 ;
    }
    .timer div:last-child{
        width:95vw;
        border: 2px solid white;
        border-radius: 3px;
        display: grid;
        grid-template-columns: repeat(7,1fr);
        margin-top: 3em;
       
        padding: 3em;
        text-align: center;
    
    }
    .dates{
        margin-left: -8vw;
    }
    .timer div:last-child{
        
        border: 0.5vh solid  #5D3FD3;
    }
    

}

